@import "../../../colors/index";
@import "../../../mixins/index";

// -- Region
.analysis {
    canvas {
        margin-bottom: 45px;
    }

    &__region {

        &-menu {
            overflow: auto;
            overflow-x: hidden;
            max-height: 800px;

            &-item {
            @include menu-item;

            &_active {
                @include menu-active-item;
            }
            }
        }
    }

    // -- Graph 
    &__graph {
        justify-content: center;
        
        &-title {
            color: $text-color;
            text-align: center;
            font-weight: 300;
            font-size: 14px;
        }
    }

    // -- Options
    &__options {
        &-menu {
            overflow: auto;
            overflow-x: hidden;
            max-height: 400px;

            &-item {
                @include menu-item;

                &_recommends {
                    @include menu-item;
                    border-color: $second-color;
                    color:  $second-color;

                    &:hover {
                        background-color: $second-color;
                    }
                }

                &_blocked {
                    @include menu-item;
                    border-color: $disable;
                    color: $disable;


                    &:hover {
                        background-color: inherit;
                        color: $disable;
                    }
                }

                &_active {
                    @include menu-active-item;
                }
                
            }
        }
    }
}

.contacts {
    &__list {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;

        &-item {
            font-size: 13px;
            
            span, a {
                color: $primary-color;
            }
        }
    }
}


// -- Blocked link
.blocked-link {
    pointer-events: none;
    cursor: default;
}


#myChart {
    padding: 0 4px;
}
