@import "../../../colors/index";
@import "../../../mixins/index";


// -- Main
.main {
    margin-top: 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        margin-bottom: 20px;
    }
}

// -- Content
.content {
    padding: 50px 10px;
    border-radius: 50px;
    background-color: rgb(241, 241, 241, 0.9);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

#myChart {
    padding: 0 4px;
}

// -- Region
.region {
    &__menu {
        overflow: auto;
        overflow-x: hidden;
        max-height: 400px;

        &-item {
           @include menu-item;
        }
    }
}

// -- Graph 
.graph {
    justify-content: center;
    
    &__title {
        color: $text-color;
        text-align: center;
        font-weight: 100;
    }
}

// -- Options
.options {
    &__menu {
        overflow: auto;
        overflow-x: hidden;
        max-height: 400px;

        &-item {
            @include menu-item;

            &-recommends {
                @include menu-item;
                border-color: $second-color;
                color:  $second-color;

                &:hover {
                    background-color: $second-color;
                }
            }

            &-blocked {
                @include menu-item;
                border-color: $disable;
                color: $disable;


                &:hover {
                    background-color: inherit;
                    color: $disable;
                }
            }
            
        }
    }
}

// -- Active menu item
.active-item {
    @include menu-active-item;
}

// -- Blocked link
.blocked-link {
    pointer-events: none;
    cursor: default;
}
