@media screen and (max-width: 768px) {
    .main {
        margin-top: 0;
    }

    .row {
        --bs-gutter-x: 0 !important;
    }

    .active-item {
        font-size: 12px;
    }

    // -- Region
    .region {
        &__menu {
            &-item {
            font-size: 12px;
            }
        }
    }

    // -- Options
    .options {
        &__menu {
            &-item {
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 420px), screen and (max-height: 420px) {
    .main {
        margin-top: 0;
    }

    .row {
        --bs-gutter-x: 0 !important;
    }

    .active-item {
        font-size: 10px;
    }


    // -- Region
    .region {
        &__menu {
            max-height: 200px;
            &-item {
                font-size: 9px;
            }

            &-title {
                font-size: 10px;
            }
        }

    }

    
    // -- Graph 
    .graph {
        &__title {
            font-size: 12px;
        }
    }

    // -- Options
    .options {
        &__menu {
            &-item {
                font-size: 9px;
            }

            &-title {
                font-size: 10px;
            }
        }
    }
}

