@import "../../colors/index";

@mixin primary-btn {
    color: #fff;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    cursor: pointer;

    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    
    &:hover {
        background-color: inherit;
        color: $primary-color;
    }

}