@import "../../colors/index";
@import "../../mixins/index";

.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.hide {
    opacity: 0;
}

.back {
    @include primary-btn;
}