@import "../../colors/index";
@import "../../mixins/index";

.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.hide {
    opacity: 0;
}

.back {
    @include primary-btn;
}

.content {
    padding: 50px 10px;
    border-radius: 50px;
    background-color: rgb(241, 241, 241, 0.9);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}