@import "../../../colors/index";
@import "../../../mixins/index";

.welcome {
    &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: rgba(241, 241, 241, 0.7);
        border-radius: 50px;
        padding: 20px;

    }
    
    &__title {
        @include title;
    }

    &__suptitle {
        @include suptitle;
        padding: 0 100px;
    }

    &-btn {
        text-align: center;
        margin: 40px 0;
    }

    &__btn {
        @include primary-btn;
    }

    &-datasets {
        display: flex;
        flex-direction: column;
        
        &__menu {
            &-item {
                margin-top: 5px;
                a {
                    position: relative;
                    margin-top: 20px;
                    
                    &::after {
                        opacity: 0;
                        content: "";
                        height: 1px;
                        width: 100%;
                        background-color: $primary-color;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transition: 0.1s;
                        -webkit-transition: 0.1s;
                        -moz-transition: 0.1s;
                        -ms-transition: 0.1s;
                        -o-transition: 0.1s;
                    }
            
                    &:hover {
                        &::after {
                            opacity: 100%;
                            bottom: -2px;
                        }
                    }
                }
            }
        }
      
    }
}
