@media screen and (max-width: 768px) {
    .welcome {
        &__title {
            font-size: 50px;
        }

        &__suptitle {
            padding: 0 10px;
        }
    }
}

@media screen and (max-width: 420px), screen and (max-height: 420px) {
    .welcome {
        &__title {
            font-size: 22px;
        }

        &__suptitle {
            font-size: 15px;
            padding: 0 10px;
        }
    }
}

