@import "../../../colors/index";
@import "../../../mixins/menu/index";

// -- Main
.articles {
    &__list {
        margin: 0 0 35px 0;
        padding: 0;
    }

    &__title {
        margin-bottom: 20px;
    }


    &__item {
        margin: 25px 0;

        &:hover {
            color: $primary-color;
        }
    }

    &__item a {
        color: #000;
    }
}


