@import "../../../colors/index";
@import "../../../mixins/menu/index";

// -- Main
.articles {
    &__list {
        margin: 0 0 35px 0;
        padding: 0;

        &-item {
            margin: 25px 0;
    
            a {
                position: relative;
                color: #000;

                &:hover {
                    color: $primary-color;
                }
            }

        }
            }
            
        &__title {
            margin-bottom: 20px;
        }
}





