@import "../../../colors/index";
@import "../../../mixins/menu/index";

// -- Main
.recommends {
    margin-top: 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    &__title {
        margin-bottom: 20px;
    }


    &__item {
        margin: 25px 0;

        &:hover {
            color: $primary-color;
        }
    }

    &__item a {
        color: #000;
    }
}

.back {
    @include menu-item;
    padding: 5px 15px;
}
