// -- Primary colors
$primary-color: rgb(0, 140, 255);
$darker-primary-color: rgb(8, 104, 182);

// -- Second colors
$second-color: rgb(147, 14, 255);

// -- Text colors
$text-color: rgb(56, 56, 56);

// -- Background color
$background-color: rgb(241, 241, 241);

// -- Disable 
$disable: rgb(160, 160, 160);